<div style="width: 100%; text-align: center; margin-top:10px;">
 
    <%#= wicked_pdf_image_tag 'escudo.png', :size => "48x40" %>
  
    <p style="font-size: 14px; text-align: center; font-family: times new roman">
    
      Sistema de Control de Puntajes - FEPAM SCORE<br />
      <label style="font-size: 18px;">RESUMEN DE CARRERAS</label>
      <br />
      <label style="font-size: 15px;">CAMPEONATO MX/VX</label>
      <br />
      <label style="font-size: 15px;"></label>
    </p>
    </br>
    </br>
    
</div>

<div id="cont" style="width:80%;">

  <table style="text-align: left; font-size: 12px; margin-left: 10%;" width="80%">
    
      <tr>
        <th width="20%">Campeonato:</th>
        <td width="40%"><%#=%></td>
      </tr>

     
      <tr>
        <th width="20%">Categoria:</th>
        <td width="40%"><%#=%></td>
      </tr>
    
      <tr>
          <th width="20%">Piloto:</th>
          <td width="40%"><%#=%></td>
      </tr>

   
    
  </table>
<br/>
<br/>
<br/>
</div>