<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-inscripcion-detalle' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-inscripcion-detalle");
   
    setTimeout(

      function(){ $("#msg-eliminar-inscripcion-detalle").remove(); 
     
      $("#link-to-incripcion-detalle-<%= @inscripcion_detalle.inscripcion_id%>").trigger('click');
      $("#link-to-incripcion-detalle-<%=  @inscripcion_detalle.inscripcion_id%>").trigger('click');
      
       swal("Potrero eliminado exitosamente.");

    }, 1000);
   
    
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-inscripcion-detalle' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-inscripcion-detalle");
  setTimeout(function(){ 
    
    $("#msg-eliminar-inscripcion-detalle").remove();

    swal("No se pudo eliminar la inscripción. Intente más tarde.")

     }, 2000);
    
<% end %>