<% if @torneo_ok %>

   $("<div class='col-sm-12' id='msg-agregar-torneo' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-torneo");
   
  $("#form_buscar_torneos_id").val('<%= @torneo.id %>');
  $("#form_buscar_torneos_descripcion").val('');
  $("#form_buscar_torneos_cantidad_fechas").val('');
  
  swal("Guardado Exitosamente.")
  
  setTimeout(function(){ 

  	$("#<%= params[:window_id]%>").modal('hide'); 
  	$("#form-buscar-torneos").submit(); 

  }, 1500);


<% else %>

    $("<div class='col-sm-12' id='msg-agregar-torneo' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-agregar-torneo");

<% end %>
