<% if @categoria_ok.present? %>

   $("<div class='col-sm-12' id='msg-editar-categoria' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-categoria");
   
  $("#form_buscar_categorias_id").val('<%= @categoria.id %>');
  $("#form_buscar_categorias_descripcion").val('');
  
  setTimeout(function(){

  	swal("Actualizado Exitosamente.")
  	$("#<%= params[:window_id]%>").modal('hide'); 
  	$("#form-buscar-categorias").submit(); 

  }, 1500);

<% else %>

  $("<div class='col-sm-12' id='msg-editar-categoria' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'>Error al modificar el categoria. Intente más tarde.</div>").insertBefore("#form-editar-categoria");

<% end %>
