<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-categoria' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-categorias");
   $("#form_buscar_categorias_id").val('<%= @categoria_elim.id %>');
   $("#form_buscar_categorias_descripcion").val('');

    setTimeout(function(){ 

    	$("#msg-eliminar-categoria").remove(); 
    	$("#form-buscar-categorias").submit(); 
    }, 1000);
   
    	swal("Eliminado Exitosamente.")

<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-categoria' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'>Error al eliminar la Categoría. Intente más tarde.</div>").insertBefore("#table-categorias");
  
<% end %>
